<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Translator</title>
<link rel="stylesheet" href=" {% static 'style/translator.css' %} ">
</head>
<body>
{% block content %}
<div class="navbar">
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'feature' %}" class="nav-link">Features</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'sign' %}" class="nav-link"> Sign to Speech</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</div>
<h1 align=center>Speech or Text to Sign Translator</h1>
<div class="wrapper" >
<div class="split left">
<div class="animation"><h2 align="center">Sign Language Animation</h2>
	<div style="text-align:center">	&nbsp&nbsp
		<button class="submits" onclick="playPause()">Play/Pause</button>
  <video id="videoPlayer" width="500" height="400"  preload="auto" autoplay>
    	<source src="" type="video/mp4">
  	</video>
</div>
  	</div>
	<!--Inputs -->

	<br>
		<form action="" method="post" align="left" class="words">
		{% csrf_token %}
					<input type="text" name="sen" class="mytext" id="speechInput" placeholder="Enter Text or Use Mic">
					<button type="button" name="button" class="mic" > <svg  id="toggleSpeech" xmlns="http://www.w3.org/2000/svg" width="28" height="27" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16"> <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/> <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/> </svg>
					</button>
		  			&nbsp&nbsp&nbsp&nbsp
		  			<input type="submit" name="submit" class="submit" >
		</form>
		<br>
		<table cellspacing="5px">
			<tr>
				<td class="td">Input text:</td>
				<td class="tx" >{{ text }}</td>
				<ul class="td" id="list" align="center">
					{% for word in words %}
				  <li id="lists" style="margin-right: 8px">{{ word }}</li>
					{% endfor %}
			  </ul>
				
			</tr>
	</table>

<script>
	//webkitSpeechRecognition api for speech to text conversion
	var speechEnabled = false;
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

        const recognition = new SpeechRecognition();
        recognition.interimResults = true;
        const speechInput = document.getElementById('speechInput');
        const micIcon = document.getElementById('toggleSpeech');
        const toggleSpeechButton = document.getElementById('toggleSpeech');

        recognition.addEventListener('result', e => {
            const transcript = Array.from(e.results)
                .map(result => result[0])
                .map(result => result.transcript)
                .join('');
            speechInput.value = transcript;
        });

        recognition.addEventListener('end', () => {
            if (speechEnabled) recognition.start();
        });

        toggleSpeechButton.addEventListener('click', () => {
            speechEnabled = !speechEnabled;
            if (speechEnabled) {
                recognition.start();
                micIcon.classList.add('on');
            } else {
                recognition.stop();
                micIcon.classList.remove('on');
            }
        });
	function play()
	{
		var videoSource = new Array();
		var	videos = document.getElementById("list").getElementsByTagName("li");
		var j;
		for(j=0;j<videos.length;j++)
		{
			videoSource[j] = "/static/" + videos[j].innerHTML +".mp4";
		}

		var i = 0; // define i
		var videoCount = videoSource.length;

		function videoPlay(videoNum)
		{
			document.getElementById("list").getElementsByTagName("li")[videoNum].style.color = "#09edc7";
			document.getElementById("list").getElementsByTagName("li")[videoNum].style.fontSize = "large";
			document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
	    	// document.getElementById("videoPlayer").load();
	    	document.getElementById("videoPlayer").play();

		}
		document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
		document.getElementById("list").getElementsByTagName("li")[0].style.color = "#09edc7";
		document.getElementById("list").getElementsByTagName("li")[0].style.fontSize = "large";

		videoPlay(0); 

		function myHandler()
		{
	 		document.getElementById("list").getElementsByTagName("li")[i].style.color = "#feda6a";
			document.getElementById("list").getElementsByTagName("li")[i].style.fontSize = "20px";
			i++;
	    	if (i == videoCount)
	    	{
	       	    document.getElementById("videoPlayer").pause();
	    	}
	     	else
	     	{
	        	videoPlay(i);
	    	}
		}
	}

	function playPause(){
  		if (document.getElementById("videoPlayer").paused){
    		play();}
  		else{
    		document.getElementById("videoPlayer").pause();}
		}

	</script></div>
{% endblock %}
</body>
</html>