
 *{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#logo{
    position: absolute; 
}
.imges{
    height: 100px;
    width: 160px;
    margin-top: 70px;
    margin-left:130px ;       
}
.navbar{
    position: absolute;
    
}
.navbar .container{
    width: 600%;
    margin-top: 70px;
    margin-left: 300px;
    display: flex;
    position: absolute;
    height: 50px;   
}
.nav-item{
    position: relative;
}
.nav-link{
    font-weight:bolder;
    font-family:cursive;
    font-size:25px;
    text-transform: capitalize;
}
.nav-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    height: 4px;
    border-radius: 4px;
    width:90%;
    left: 6px;
    background-color:#FFBD59;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.nav-link:hover::after{
    transform: scaleX(1);
}
.img{
    display: flex;
    padding-left: 50%;
    position: absolute;
    margin-top: 50px;
    margin-left: 160px;
    width: 90%;
    height: 75vh;
  
    -webkit-box-reflect:below 7px linear-gradient(transparent,transparent,#0004); 
    transition: 0.5s;
}

.img:hover{
    transform: scale(1.1);
    transform: perspective(1500px) rotateY(-20deg);
    filter: drop-shadow(1px 9px rgba(84, 82, 82, 0.44));
  
}
.welcome h2{
    position: absolute;
    display: flex;
    width: 50%;
    margin-top: 150px;
    padding-left: 250px;
    font-family:cursive;
    text-shadow: 1px 3px black;
    font-weight:bold;
    color: rgb(234, 119, 42);
    font-size:45px ;
    animation: about 1s ease-in-out;
}
@keyframes about{
    0%{
        opacity: 0;
        transform:translateX(-50%) ;
    }
}
.welcome #typing{
    position: absolute;
    margin-top:20% ;
    padding-left: 300px;
    font-family:sans-serif;
    color:cornflowerblue;
    font-size:35px ;
    font-weight: bold; 
    
}
.welcome #typing{
    list-style: none;
    animation: text 3s ease-in-out;
}
@keyframes text{
    0%{
        opacity: 0;
        transform:translateZ(-50%) ;
    }
}
 .btns{
    display: flex;
    position:absolute;
    margin-top: 35%;
    margin-left:550px;
    height: 40px;
    width: 150px;
    padding-top: 5px;
    color:ghostwhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-size: 20px;
    background-color:blueviolet;
    box-shadow: 1px 4px rgb(19, 19, 19);
    justify-content: center;
    border-radius: 30px;
    text-decoration:none ;
}
.btns:hover{
    color:rgb(11, 11, 11);
    
    background-color:rgba(0, 213, 255, 0.9);
}

